@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Fonts
   1. font-family: 'Poppins', sans-serif;
*/
*,*::before, *::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Poppins', sans-serif;
   background-color: #F6F6F6;
   margin: 0;
   padding: 0;
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   margin: auto;
   padding: 0;
}
a {
   text-decoration: none;
}
nav ul {
   list-style: none;
   padding: 5px 20px 0;
   margin: 0;
   text-align: center;
}
nav li {
   display: inline-block;
   font-size: 15px;
   margin: 0 14px;
}
nav a {
   display: block;
   border-radius: 30%;
   text-decoration: none;
   color: #969696;
}
.container {
   width: 100%;
   height: auto;
   margin: auto;
   padding: 0;
}
header {
   width: 100%;
   min-height: 70px;
   display: flex;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: 0;
   align-items: center;
   background-color: #f5d53e;
   border-radius: 0 0 15px 15px;
}
footer {
   width: 100%;
   min-height: 70px;
   display: flex;
   justify-content: center;
   position: fixed;
   bottom: 0;
   left: 0;
   align-items: center;
   background-color: #f5d53e;
   border-radius: 30px 30px 0px 0px;
}
.logo {
   display: inline-flex;
   margin-left: 30px;
}
.logo span {
   font-family: 'Poppins', sans-serif;
   font-size: 24px;
   font-weight: 300;
   color: #999696;
}
.iconSearch {
   display: block;
   width: 37px;
   height: 37px;
   background-color: #fff;
   padding: 10px;
   fill: #FF7000;
   border-radius: 10px;
}
.Icon {
   display: block;
   width: 37px;
   height: 37px;
   background-color: #fff;
   padding: 7px;
   fill: #FF7000;
   border-radius: 10px;
}
.Icon:hover {
   transform: scale(1.1);
   transition: .5s;
}

form {
   display: flex;
   align-items: center;
}
input[type="search"] {
  width: 170px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid #f5d53e;
  border-radius: 10px;
}
button[type="submit"] {
   margin-left: 7px;
   border-radius: 10px;
   outline: none;
   border: 1px solid #f5d53e;
   cursor: pointer;
}
input:focus {
  background-color: #ececec;
}
input[placeholder] {
   padding-left: 10px;
   font-size: 13px;
   color: #999696;
   outline: none;
}

.inner {
   width: 30%;
   margin: 20px;
}
.box {
   display: flex;
   justify-content: center;
   align-items: center;
}
.person {
   margin-right: 10px;
}
.person p {
   font-size: 13px;
}
.name {
   font-size: 14px;
   font-weight: 600;
}
.box img {
   width: 43px;
   height: 43px;
   margin-right: 10px;
}
p.minute{
   font-size: 20px;
   font-weight: 600;
}
.content img {
   width: 24px;
   height: 24px;
}
.person span {
   font-size: 13px;
   font-weight: 600;
}
.box .Icon {
   margin-right: 7px;
}
.person a {
   text-decoration: underline;
   color: #242424;
}
/*Found*/
.found {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 400px;
   width: 100%;
}
.innerLost {
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.lost {
   position: absolute;
   top: 10px;
   right: 100px;
}
h1 {
   font-size: 50px;
   color: #FF7000;
}
.content {
   margin-left: 30px;
}
h3 {
   font-size: 30px;
   color: #919191
}
.content a {
   display: block;
   text-align: center;
   background-color: #FF7000;
   color: #fff;
   margin: 30px;
   border-radius: 10px;
   transition: .3s;
}
.content a:hover {
   background-color: #e4c532;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
   input[type="search"] {
     width: 130px;
     height: 37px;
   }

   .inner {
      width: 30%;
      margin: 10px;
   }
   .person .desc {
      display: none;
   }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

   .innerLost img{
      width: 30%;
   }
   .lost {
      display: none;
   }
   .innerLost {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
   }
   form {
      display: none;
   }
   input[type="search"] {
     width: 130px;
     height: 37px;
   }
   .person .desc {
      display: none;
   }
}
@media only screen and (max-width: 600px) {
   form {
      display: none;
   }
   .lost {
      display: none;
   }
   .innerLost img{
      width: 40%;
   }
   .innerLost {
      display: flex;
      flex-direction: column;
   }
   footer {
      display: flex;
      justify-content: center;
      flex-direction: column;
   }
   .inner {
      width: 100%;
   }
   .person .desc {
      display: none;
   }
   .logo .iconMini {
      display: none;
   }
   nav {
      width: 100%;
   }
   nav li:last-child {
      margin-left: 14px;
   }
   .logo {
      display: none;
   }
   nav li {
      display: inline-block;
      font-size: 14px;
      margin: 3px;
   }
   nav ul {
      list-style: none;
      padding: 5px 8px 0;
      margin: 0;
      text-align: center;
   }
}
