* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.found {
	min-height: 100%;
}
.innerLost {
   width: 70%;
   margin: 100px auto 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.innerLost {
   width: 300px;
}
